*.pyc
*.swp
.idea
**/.crossbar/key.priv
**/.crossbar/key.pub
clients/dist/
clients/lib/
node_modules/
_trial_temp/
data/
dump.rdb
etc/
pypy-5.8-linux_x86_64-portable.tar.bz2
pypy-5.8-linux_x86_64-portable/
redis-3.2.9.tar.gz
redis-3.2.9/
services/datacube/data/
services/datacube/node_modules/
services/pandas/.crossbar/key.priv
services/pandas/.crossbar/key.pub
**/mouse_connectivity_cache
**/brain_observatory_cache
**.nc
**.h5
**.npy
*.un~
conn_data
bob_data
.vscode
.pytest_cache
