{
    "version": 2,
    "workers": [
        {
            "type": "router",
            "realms": [
                {
                    "name": "aibs",
                    "options": {
                        "enable_meta_api": true
                    },
                    "roles": [
                        {
                            "name": "anonymous",
                            "permissions": [
                                {
                                    "uri": "",
                                    "match": "prefix",
                                    "allow": {
                                        "call": true,
                                        "register": false,
                                        "publish": false,
                                        "subscribe": true
                                    },
                                    "disclose": {
                                        "caller": false,
                                        "publisher": false
                                    },
                                    "cache": true
                                }
                            ]
                        },
                        {
                            "name": "authenticated",
                            "permissions": [
                                {
                                    "uri": "",
                                    "match": "prefix",
                                    "allow": {
                                        "call": true,
                                        "register": true,
                                        "publish": true,
                                        "subscribe": true
                                    },
                                    "disclose": {
                                        "caller": false,
                                        "publisher": false
                                    },
                                    "cache": true
                                }
                            ]
                        }
                    ]
                }
            ],
            "transports": [
                {
                    "type": "web",
                    "endpoint": {
                        "type": "tcp",
                        "port": 8080
                    },
                    "paths": {
                        "call": {
                            "type": "caller",
                            "realm": "aibs",
                            "role": "anonymous",
                            "options": {
                                "debug": true
                            }
                        },
                        "mouseconn": {
                            "type": "resource",
                            "classname": "conn_bridge.resource",
                            "extra": [
                                "--wamp_transport", "ws://localhost:8080/ws",
                                "--wamp_realm", "aibs",
                                "--ontology_path", "../mouse_ccf_data/ccf_ontology.json"
                            ]
                        },
                        "ws": {
                            "type": "websocket",
                            "options": {
                                "auto_ping_interval": 60000,
                                "auto_ping_timeout": 30000,
                                "compression": {
                                   "deflate": {
                                      "request_no_context_takeover": false,
                                      "request_max_window_bits": 11,
                                      "no_context_takeover": false,
                                      "max_window_bits": 11,
                                      "memory_level": 4
                                   }
                                }
                            },
                            "serializers": ["msgpack"]
                        },
                        "auth_ws": {
                            "type": "websocket",
                            "auth": {
                                "wampcra": {
                                    "type": "static",
                                    "users": {
                                        "services": {
                                            "secret": "41zfIl85wTd0oytuoLZuCLc2FmPxV7zNt3Vhc1WR1rkhUB64Bb44KwuxfVZG0a93",
                                            "role": "authenticated"
                                        }
                                    }
                                },
                                "anonymous": {
                                    "type": "static",
                                    "role": "anonymous"
                                }
                            },
                            "options": {
                                "auto_ping_interval": 0,
                                "auto_ping_timeout": 0,
                                "compression": {
                                   "deflate": {
                                      "request_no_context_takeover": false,
                                      "request_max_window_bits": 11,
                                      "no_context_takeover": false,
                                      "max_window_bits": 11,
                                      "memory_level": 4
                                   }
                                }
                            },
                            "serializers": ["msgpack"]
                        },
                        "ccf_model": {
                            "type": "static",
                            "directory": "../structure_meshes/",
                            "options": {
                                "enable_directory_listing": true,
                                "mime_types": {}
                            }
                        },
                        "cgi": {
                            "type": "cgi",
                            "directory": "../cgi",
                            "processor": "../python-cgi.sh"
{% if DATACUBE_ENV == 'demo' %}
                        },
                        "demo": {
                            "type": "static",
                            "directory": "..",
                            "options": {
                                "enable_directory_listing": true,
                                "mime_types": {
                                    ".md": "text/plain",
                                    ".py": "text/plain"
                                }
                            }
{% endif %}
                        }
                    }
                }
            ],
            "options": {
                "pythonpath": [
                    "../legacy_conn_routes/"
                ]
            }
        },
{% if DATACUBE_ENV == 'demo' %}
        {
            "id": "datacube",
            "type": "guest",
            "executable": "run.sh",
            "arguments": ["ws://localhost:8080/auth_ws", "aibs", "services", "41zfIl85wTd0oytuoLZuCLc2FmPxV7zNt3Vhc1WR1rkhUB64Bb44KwuxfVZG0a93", "../../datasets-demo.json", "--projection-map-dir", "/allen/aibs/informatics/heatmap/mouseconn_projection_maps/P56/"],
            "options": {
                "workdir": "../services/datacube/"
            }
{% else %}
        {
            "id": "bob_datacube",
            "type": "guest",
            "executable": "run.sh",
            "arguments": ["ws://localhost:8080/auth_ws", "aibs", "services", "41zfIl85wTd0oytuoLZuCLc2FmPxV7zNt3Vhc1WR1rkhUB64Bb44KwuxfVZG0a93", "../../datasets-bob.json", "--projection-map-dir", "../../conn_projection_maps/"],
            "options": {
                "workdir": "../services/datacube/"
            }
    {% if DATACUBE_ENV != 'development' %}
        },
        {
            "id": "conn_datacube",
            "type": "guest",
            "executable": "run.sh",
            "arguments": ["ws://localhost:8080/auth_ws", "aibs", "services", "41zfIl85wTd0oytuoLZuCLc2FmPxV7zNt3Vhc1WR1rkhUB64Bb44KwuxfVZG0a93", "../../datasets-conn.json", "--projection-map-dir", "../../conn_projection_maps/"],
            "options": {
                "workdir": "../services/datacube/"
            }
    {% endif %}
        },
        {
            "id": "locator",
            "type": "guest",
            "executable": "run.sh",
            "arguments": ["ws://localhost:8080/auth_ws", "aibs", "services", "41zfIl85wTd0oytuoLZuCLc2FmPxV7zNt3Vhc1WR1rkhUB64Bb44KwuxfVZG0a93", "env_vars-prod.json"],
            "options": {
                "workdir": "../services/locator/"
            }
    {% if DATACUBE_ENV == 'development' %}
        },
        {
            "id": "human_mtg_datacube",
            "type": "guest",
            "executable": "run.sh",
            "arguments": ["ws://localhost:8080/auth_ws", "aibs", "services", "41zfIl85wTd0oytuoLZuCLc2FmPxV7zNt3Vhc1WR1rkhUB64Bb44KwuxfVZG0a93", "../../datasets-human-mtg.json", "--projection-map-dir", "../../conn_projection_maps/"],
            "options": {
                "workdir": "../services/datacube/"
            }
    {% endif %}
{% endif %}
        },
        {
            "id": "redis",
            "type": "guest",
            "executable": "redis-server",
            "arguments": ["./redis.conf"],
            "options": {
                "workdir": ".."
            }
        }
    ]
}
