autobahn
crossbar
Twisted
pandas
numpy==1.13.0
scipy
txaio
git+git://github.com/pydata/xarray.git#master
netCDF4
dask
toolz
txredisapi
redis
six
allensdk
Pillow
numba
git+git://github.com/zarr-developers/zarr.git#master
lmdb
